@media screen and (max-width:992px){
    .container, .responsive-media, .portfolio-list,
    .about-us-text, .accordion, .services-items,
    .vacancies-list, .news-list, .portfolio-list img,
    .connect-info  {
        width: auto;
    }
    .auto-layout-text {
        width: 20%;
    }
    .about-us-text, .vacancies-list p, .news-list h4,
    .web-dev-text  {
        text-align: justify;
        width: 90%;
        margin: 0 auto;
    }
    .about-text h3 {
        text-align: center;
    }
    .navbar-link, .connect-text img {
        display: none;
    }
    .navbar-langue, .hamburger, .about, .portfolio-items,
    .connect-items {
        display: block;
    }
    .connect-text {
        margin: 0px ;
        text-align: center;
    }
    .services-items, .news-list, .normative-lis{
        height: auto;
    }
    .portfolio-list {
        margin: 40px 0;
    }
    .portfolio-text1 h4, .portfolio-text2 h4 {
        left: 116px;
        top: 180px;
    }
    .portfolio-text1 h5, .portfolio-text2 h5 {
        left: 116px;
        top: 247px;
    }
    .about-image img {
        width: 90%;
        text-align: center;
        margin: 40px 0;
    }
    .information-sign {
        display: none;
    }
    .information-icon {
        margin: 0;
    }
    .download-btn {
        display: inline;
        margin: 50px auto;
    }
    iframe {
        height: 420px;
    }
    .main-info {
        width: auto;
        display: block;
    }
    .leftImage-text {
        display: block;
        position: inherit;
        width: auto;
    }
    .leftImg, .rightImg {
        width: 250px;
        text-align: center;
    }
    canvas, .maps-list {
        width: 390px;
        height: 700px;
    }
    .fa-search {
        padding: 0px 6px;
    }
    .logo-bg {
        width: 100%;
        margin: 0 auto;
    }
    .info {
        width: 350px;
    }
    .regional-map {
        overflow-x: auto;
        width: 350px;
    }
    .leftImg, .rightImg {
        width: 345px;
        text-align: center;
    }
}

@media screen and (max-width:596px) {
    .logo-homePage {
        display: none;
    }
    .logo-responsive {
        display: block;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .navbar-text {
        display: grid;
    }
    .about {
        padding: 0;
    }
    .navbar-two {
        height: auto;
    }
    .nav-gradient {
        height: 100%;
        padding-bottom: 50px;
    }
    .gradient-bac {
        height: auto;
    }
    .overlay-image {
        height: 250px;
        width: 90%;
        margin: 0 auto;
    }
    .overlay-icon-items {
        width: 90%;
        margin: 0 auto;
        height: 250px;
    }
    .overlay-icon-list {
        height: 250px;
    }
    .information-sign, .navbar-logo, .portfolio-text1 h4,
    .portfolio-text1 h5, .portfolio-text2 h4,
    .portfolio-text2 h5  {
        display: none;
    }
    .border-l {
        border: none;
    }
    .information-text, .nav_text {
        font-size: 35px;
    }
    .contact {
        margin-top: 20px;
    }
    .download-btn {
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    .information-text {
        padding: 40px 0;
    }
    .footer-list, .managenet-items, .about-items,
    .project-list {
        display: block;
    }
    .project-title, .portfolio-list  {
        width: auto;
    }
    .portfolio-list img {
        width: 90%;
    }
    .projectimage-opacity img {
        width: auto;
    }
    .btn-submit, .news-btn {
        width: auto;
        text-align: center;
        margin: 50px auto;
    }
    .accordion-body {
        text-align: justify;
    }
    .footer-logo {
        width: auto;
        margin: 0 auto;
        text-align: start;
    }
    .nav-title {
        padding-bottom: 50px;
    }
    .news-list, .project-image {
        width: 100%;
    }
    .project-image {
        margin: 40px 0;
    }
    .undp-logo-img img{
        width: 85%;
    }
    .management-list, .about-list {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .management-list img, .about-list img {
        text-align: center;
        width: 100%;
    }
    ul {
        padding: 0px;
    }
    .auto-layout-list {
        width: auto;
    }
    .auto-layout-text {
        width: 50%;
        margin: 40px 0;
    }
    .line1, .line2, .line3, .line4 {
       margin: 12px auto;
    }
    iframe {
        height: 250px;
    }
    .nav-opendata-gradient {
        height: auto;
        padding-bottom: 50px;
    }
    .nav-opendata {
        height: auto;
    }
    .openData-begin {
        padding:20px 10px;
        height: auto;
        margin: 20px auto;
    }
    .openData-items {
        display: block;
    }
    .openData-list {
        padding: 0;
    }
    .openData-data {
        margin: 0 auto 20px auto;
    }
    .textList {
        padding: 5px 0px;
    }
    .main-info {
        width: auto;
        display: block;
    }
    .leftImage-text {
        display: block;
        position: inherit;
        width: auto;
    }
    .leftImg, .rightImg {
        width: 250px;
        text-align: center;
    }
   
    .logo-bg {
        display: block;
        width: 100%;
    }
    .editBtn  {
        margin: 40px auto;
    }
    .rnone, .addres-info, .fa-search {
        display: none;
    }
    .maps-items  {
        width: 80%;
       display: flex;
       justify-content: space-between;
    }
    .responsive-input {
        display: none;
    }
    .regional-branches {
        height: 730px;
    }
    .regional-map {
        height: 380px;
    }
    .regional-map {
        overflow-x: auto;
        width: 280px;
        margin: 0 auto;
        text-align: center;
    }
    .searchInput {
        width: 220px;
    }
    .maps-searchInput {
        width: 270px;
        margin: 20px 10px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 6px 20px rgb(0 0 0 / 4%);
    }
    .table-bordered {
        overflow-x: auto;
        width: 100%;
    }
    .nav-item{   
        display: flex;
        justify-content: center;
    }
    .management-list, .management-info-items {
        display: block;
    }
    .manegementInfo-list {
        padding: 20px 0;
    }
    .management-title {
        font-size: 30px;
    }
    .btn-primary {
        height: auto;
    }
    .management-info {
        margin: 20px 0;
    }
}

